.form {
  text-align: left;
  display: inline-flexbox;
  margin-left: 180px;
  margin-right: 180px;
  white-space: "\a";
}

.logo {
  margin: 0 auto;
  max-width: 100%;
  width: 150px;
  height: auto;
  display: block;
}

.bx--btn {
  border-radius: 5px;
  margin-top: 5px;
}

.bx--btn.bx--btn--primary {
  margin-left: 3px;
  margin-right: 1.5px;
}

.bx--btn.bx--btn--secondary {
  margin-left: 379px;
}

// @media only screen and (min-width: 500px) {
//   .form{
//     background-color: red;
//   }
// }
