.investor-form {
  text-align: left;
  display: inline-flexbox;
  margin-left: 180px;
  margin-right: 180px;
}

.investor-form p{
  padding: 20px 20px;
}

.bx--btn {
  border-radius: 5px;
  margin-bottom: 10px;
}
