.investor-form {
  text-align: left;
  display: inline-flexbox;
  margin-left: 180px;
  margin-right: 180px;
}

.investor-form p{
  padding: 20px 20px;
}

.bx--btn {
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media all and (max-width: 600px) {
  .columns {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .investor-form {
    margin-left: 10px;
    margin-right: 10px;
  }
  .bx--btn {
    display: block;
    margin: 0.4em auto;
  }
  .bx--btn.bx--btn--secondary {
    margin-left: 6px;
  }
}
